.header{
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: aliceblue;
}

.header-left{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin: 0 24px;
}

.youtube-logo{
  height: 20px;
}

.header-mid{
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar{
  flex: 1;
  height: 34px;
  width: 0; /*set to 0 to override the default width that was set by flex = 1*/
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

/* alternatively
.search-bar::placeholder{
  font-size: 16px;
}
*/

.search-button,
.voice-button,
.upload-button,
.apps-button,
.notifications-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button{
  height: 38px;
  width: 60px;
  background-color: rgb(240, 240,240);
  border: 1px solid rgb(192,192,192); 
  margin-left: -1px;
  margin-right: 10px;
}

.voice-button{
  height: 38px;
  width: 38px;
  border-radius: 20px;
  border: none;
}

.upload-button,
.apps-button,
.notifications-button{
  border: none;
  background-color: white;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-button .tooltip,
.apps-button .tooltip,
.notifications-button .tooltip{
  font-weight: 500;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-button:hover .tooltip,
.apps-button:hover .tooltip,
.notifications-button:hover .tooltip{
  opacity: 1;
}

.search, .voice-search{
  height: 25px;
}

.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width:190px;
  margin-right: 20px;
}

.upload, .apps, .notifications{
  height: 30px;
  margin-top: 4px;
}

.notifications-button{
  position: relative;
}

.notifications-count{
  font-size: 11px;
  padding: 2px 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(200,0,0);
  color: white;
  border-radius: 10px;
}

.my-profile{
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}





